/* CSS declarations go here */

@media all {

html, 
body, 
div {
    padding:0;
    margin:0;
}

body {
  font-family: AppleSDGothicNeo-Medium, Avenir-Light, sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 21px;
}

.container {
  max-width: 600px;
  margin: 0px auto;
}

#stream {

    min-height:100px;
    padding:0 5px;
}

#footer {
  border-top: 1px solid #bbb; 
  font-size: 0.7em;  
  padding: 0 5px;
}

.section {
  margin: 0 0 20px 0;
}

.section .header {
  clear: both;
  display: table-row;
  margin: 0 0 0 0;
  font-weight: 400;
}
.section .header h2 {
  display: table-cell;
  padding: 0 8px 0 0;
  line-height: 1.2em;
  font-size: 0.6em;
  font-weight: 400;
  vertical-align: middle;
  white-space: nowrap;
}

.section .header time {
  display: table-cell;
  padding: 0 0 0 8px;
  vertical-align: middle;
  white-space: nowrap;
}

.article {
  margin: 10px 0 0 0;
}

.article h3 {
  margin: 0 0 3px 0;
  font-size: 1em;
  line-height: 1.1em;
}

.article .description {
  margin: 3px 0;
  font-size: 0.875em;
}

a:link {
  color: #1E68A6;
}

a:visited {
  color: #819fc7;
}

span.spacer {
  display:table-cell;
  width: 100%;
}

span.spacer:after { /* Adds border to spacer */
    display:inline-block;
    width:100%;
    content:".";
    font-size:0;
    color: transparent;
    height:0.5px;
    background:#bbb;
    vertical-align:middle;
    position:relative;
    top:-1px;
}

time {
  font-size: 0.6em;
  line-height: 1.2em;
}

.loader { /* loading graphic */
  width:32px; 
  height:32px; 
  margin:20px auto; 
  background:url(/loader.gif) no-repeat 0 0;
}

#feeds_modal td.count, #feeds_modal td.lastDate {
  white-space: nowrap;
}

/* end media all */ }

@media screen and (max-width : 480px) {

#feeds_modal {
  font-size: 0.75em;
 }

.article h3 {
    font-size:0.875em;
}

.article .description {
    font-size:0.8125em;
}

/* end of @media screen and (max-width : 340px) */}
