

@media all {

html,
body,
div {
    padding:0;
    margin:0;
}

.mt-1 {
  margin-top: ($spacer * .25) !important;
}

body {
  font-family: AppleSDGothicNeo-Medium, Avenir-Light, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 19px;
}

.text-right{
  text-align: right;
}

.feed {

}
.container {

  max-width: 540px;
  margin: 10px auto;
}

#stream {
    min-height:100px;
    padding:4px 5px;
}

i {
  cursor: pointer;
}

#footer {
  border-top: 1px solid #bbb;
  font-size: 0.7em;
  padding: 0 5px;
}

.section {
  margin: 0 0 20px 0;
}

.section .header {
  clear: both;
  display: table-row;
  margin: 0 0 0 0;
  font-weight: 400;
}
.section .header h2 {
  display: table-cell;
  padding: 0 8px 0 0;
  line-height: 1.2em;
  font-size: 0.6em;
  font-weight: 400;
  vertical-align: middle;
  white-space: nowrap;
}

.section .header time, .section .header TimeAgo {
  display: table-cell;
  padding: 0 0 0 8px;
  vertical-align: middle;
  white-space: nowrap;
}

.article {
  margin: 10px 0 0 0;
}

.article h3 {
  margin: 0 0 3px 0;
  font-size: 1em;
  line-height: 1.1em;
}

.article .description {
  margin: 3px 0;
  font-size: 0.875em;
}

a:link {
  color: #1E68A6;
}

a:visited {
  color: #819fc7;
}

span.spacer {
  display:table-cell;
  width: 100%;
}

span.spacer:after {
    display:inline-block;
    width:100%;
    content:".";
    font-size:0;
    color: black;
    height:1px;
    background:#bbb;
    vertical-align:middle;
    position:relative;
    top:-1px;
}

time, TimeAgo {
  font-size: 0.6em;
  line-height: 1.2em;
}
.small-loader {
  width:16px;
  height:16px;
  margin:1px auto;
}

.loader {
  width:32px;
  height:32px;
  margin:20px auto;
  background:url(/loader.gif) no-repeat 0 0;
}

#login-buttons {
  padding-top: 2px;
  float: right;
}

#menubar {
  height: 23px;
}

.feedListButtons {
  background: #F0FFFF;
  border-radius: 9px;
  border: 1px solid #428bca;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 60px;
}

}

@media screen and (max-width : 480px) {

#feedList {
  font-size: 0.75em;
 }

.article h3 {
    font-size:0.875em;
}

.article .description {
    font-size:0.8125em;
}

}
